image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp
weights
log
outputs/
.vscode
.idea
*.DS_Store*
**/*.out
Dockerfile
*.pyc
venv/
output
version.py

*.pth
_datasets/*
_experiments/*
_archive/*


*.log
sync_server.*

libs/flash-attention/*
